@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* nav {
  display: flex;
  flex-direction: row;
  font-size: 3em;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex: 1;
  justify-content: flex-end;
}

nav ul li {
  padding: 0 1em;
}

.logo {
  display: flex;
  font-weight: 900;
  overflow: hidden;
  letter-spacing: -4px;
  margin-left: -3px;
}

.logo span:first-child {
  color: black;
  background: #0385ff;
  transform: scaleY(2.3);
}

.logo span:last-child {
  color: #0385ff;
  background: black;
  transform: scaleY(2.3);
} */
